#include("header.html")

<h1>Varaukset</h1>
<table>
    <tr>
        <th>Varausjakso</th>
        <th>Tuotteet</th>
        <th>Tyyyppi</th>
    </tr>
    #foreach($r in $reservations)
        <tr>
            <td>$r.reservationPeriod</td>
            <td>$r.productList</td>
            <td>$r.type</td>
        </tr>
    #end
</table>
<form method="get" action="/reservationquery">
    <input type="submit" value="Aloita uusi varaus"/>
</form>

#include("footer.html")