#include("header.html")

#foreach($salesOrder in $salesOrders)
    <h1>Sales Order: $salesOrder.id</h1>
    <h2>Products</h2>
    <table>
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
            <th>Delivery Status</th>
            <th>Payments</th>
        </tr>
        #foreach($productAndStatus in $salesOrder.products)
            <tr>
                <td>$productAndStatus.product.name</td>
                <td>$productAndStatus.product.description</td>
                <td>$productAndStatus.product.price.price ($productAndStatus.product.price.vat.toString())</td>
                <td>$productAndStatus.deliveryStatus.toString()</td>
                <td>$productAndStatus.paymentStatus.toString() $productAndStatus.paymentMethod.toString()</td>
            </tr>
        #end
    </table>
    <h2>Services</h2>
    <table>
    <tr>
        <th>Service</th>
        <th>Description</th>
        <th>Price</th>
        <th>Delivery Status</th>
        <th>Payments</th>
    </tr>
    #foreach($serviceAndStatus in $salesOrder.services)
        <tr>
            <td>$serviceAndStatus.service.name</td>
            <td>$serviceAndStatus.service.description</td>
            <td>$serviceAndStatus.service.price.price ($serviceAndStatus.service.price.vat.toString())</td>
            <td>$serviceAndStatus.deliveryStatus.toString()</td>
            <td>$serviceAndStatus.paymentStatus.toString() $serviceAndStatus.paymentMethod.toString()</td>
        </tr>
    #end
    </table>
    <h2>Participants</h2>
    <table>
    <tr>
        <th>Name</th>
        <th>Role</th>
    </tr>
    #foreach($participant in $salesOrder.participants)
        <tr>
            <td>$participant.participant.firstName $participant.participant.lastName</td>
            <td>$participant.role.toString()</td>
        </tr>
    #end
    </table>
#end

#include("footer.html")